
ffmpeg/bin/ffmpeg.exe
ffmpeg/bin/ffplay.exe
ffmpeg/bin/ffprobe.exe
yt-dlp.exe
installercreator.iss
dist
build
_pycache_
core/_pycache_
core/services/_pycache_
core/tabs/_pycache_
.idea
core/__pycache__/__init__.cpython-313.pyc
core/__pycache__/gui.cpython-313.pyc
core/__pycache__/soundmanager.cpython-313.pyc
core/__pycache__/videoplayer.cpython-313.pyc
core/services/__pycache__/__init__.cpython-313.pyc
core/services/__pycache__/config_service.cpython-313.pyc
core/services/__pycache__/ffmpeg_service.cpython-313.pyc
core/services/__pycache__/ui_service.cpython-313.pyc
core/services/__pycache__/youtube_service.cpython-313.pyc
core/tabs/__pycache__/__init__.cpython-313.pyc
core/tabs/__pycache__/discord_tab.cpython-313.pyc
core/tabs/__pycache__/slicer_tab.cpython-313.pyc
core/tabs/__pycache__/ui_helpers.cpython-313.pyc
core/tabs/__pycache__/youtube_tab.cpython-313.pyc
